app.lvh.me {
    tls internal
    encode gzip
    reverse_proxy frontend:3000
}

api.lvh.me {
    tls internal
    reverse_proxy backend:80 {
        header_up X-Forwarded-Proto {scheme}
    }
}

minio.lvh.me {
    tls internal
    reverse_proxy minio:9001
}

mailhog.lvh.me {
    tls internal
    reverse_proxy mailhog:8025
}

database.lvh.me {
    tls internal
    reverse_proxy adminer:8080
}

mercure.lvh.me {
    tls internal
    reverse_proxy mercure:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
}
